html {
    direction: rtl;
}

body {
    font-family: 'Open Sans';
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #f6f6f6;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
    content: " ";
    display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
    clear: both;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pull-right {
    float: left !important;
}

.pull-left {
    float: right!important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

a {
    outline-style: none;
    cursor: pointer;
}


/*custome */

.top-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}

.top-menu ul li {
    float: right
}

.top-menu ul li a {
    display: block;
    line-height: 32px;
    margin-right: 14px;
    color: #555;
    font-size: 13px;
}

.top-menu ul li a:hover {
    color: #22b8eb;
    text-decoration: none;
}

header > .middle-blk {
    background: #fff;
    padding: 15px 0;
}

.my-account-blk {
    float: left;
}

.my-account-blk > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.my-account-blk > ul > li {
    float: left;
    position: relative;
}

.my-account {
    display: block;
}

.my-account > i {
    float: right;
    background: #22b8eb;
    padding: 18px 10px;
}

.my-account > i:before {
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/sprite.png) no-repeat;
    content: '';
}

.my-account > span {
    float: right;
    line-height: 16px;
    padding: 17px 15px;
    border: 1px solid #d4d3d3;
    border-right: none;
    color: #555;
    background: #fff;
    transition: .3s all ease;
}

.my-account:hover > span {
    background: #22b8eb;
    border-color: #22b8eb;
    color: #fff;
}

ul.dropdown-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: #fff;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    border-top: 4px solid #3db5e6;
    margin-top: -1px;
}

.dropdown-myaccount:hover ul.dropdown-menu {
    opacity: 1;
    visibility: visible;
}

ul.dropdown-menu > li {
    margin: 0;
    padding: 0;
}

ul.dropdown-menu > li a {
    display: block;
    padding: 10px 15px 10px;
    font-size: 13px;
    color: #555;
}

ul.dropdown-menu > li a:hover {
    background: #f6f6f6;
    text-decoration: none;
}

i.icon-logIn,
i.icon-wishlist {
    width: 12px;
    height: 12px;
    position: relative;
    background: url(../img/sprite.png) no-repeat -60px 0;
    display: inline-block;
    margin-left: 5px;
}

i.icon-wishlist {
    background-position: -72px 0 !important;
}

.menu-blk {
    background: #19438e;
    padding: 10px 0;
}

ul.nav-menu {
    margin: 8px 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    float: right;
}

ul.nav-menu > li {
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
}

ul.nav-menu > li > a {
    color: #fff;
    display: block;
    line-height: 16px;
    position: relative;
}

ul.nav-menu > li > a:hover {
    text-decoration: none;
}

ul.nav-menu > li > a:before,
ul.nav-menu > li > a.active:before {
    width: 0;
    transition: .3s all ease;
    content: '';
    position: absolute;
    left: 50%;
    background: #22b8eb;
    height: 2px;
    bottom: -4px;
}

ul.nav-menu > li > a.active:before,
ul.nav-menu > li > a:hover:before {
    width: 100%;
    left: 0;
}

ul.nav-menu > li > a.toggle-menu:before {
    display: none;
}

.toggle-menu i {
    display: block;
    width: 20px;
    height: 16px;
    background: url(../img/sprite.png) no-repeat -18px 0;
}

.open .toggle-menu i {
    background-position: -132px 0;
}

.search-form {
    float: right;
    width: 440px;
    height: 32px;
    border: none;
    background: #143672;
    margin: 0;
    padding: 12px 14px;
    font-size: 13px;
    color: #b5c0d2;
    outline: none !important;
}

.search-form-wrap {
    position: relative;
}

.search-form-wrap:after {
    position: absolute;
    left: 12px;
    top: 50%;
    margin-top: -8px;
    width: 16px;
    height: 16px;
    content: '';
    background: url(../img/sprite.png) no-repeat -42px 0;
}

.content {
    margin: 25px 0;
    min-height: 300px;
}

.top-foot {
    background: #19438e;
    padding: 7px 0;
}

.newsletter {
    float: right;
}

.newsletter .title {
    display: inline-block;
    margin: 0 0 0 10px;
    vertical-align: middle;
    line-height: 28px;
    color: #fff;
}

.newsletter-subscribe {
    display: inline-block;
    vertical-align: middle;
}

.newsletter-email .newsletter-subscribe-text {
    display: inline-block;
    width: 300px;
    height: 43px;
    margin: 0 0 0 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0 12px;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.7);
}

.newsletter-email .send-btn {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0;
    border: none;
    background: #22b8eb url('../img/subscribe-button.png') center no-repeat;
    vertical-align: middle;
    font-size: 0;
    outline: 1px solid transparent;
    transition: all 0.2s ease;
}

.social-sharing {
    float: left;
    margin: 0;
    line-height: 43px;
}

.social-sharing li {
    display: inline-block;
    margin: 0 8px;
    vertical-align: middle;
}

.social-sharing a {
    display: block;
    width: 32px;
    height: 32px;
    background: url('../img/social-sprite-1.png') no-repeat;
}

.social-sharing .twitter a {
    background-position: -32px 0;
}

.social-sharing .facebook a {
    background-position: 0 0;
}

.social-sharing .instagram a {
    background-position: -224px 0;
}

.social-sharing .youtube a {
    background-position: -160px 0;
}

.social-sharing .google a {
    background-position: -64px 0;
}

.social-sharing .rss a {
    background-position: -198px 0;
    width: 18px;
}

.social-sharing li.rss {
    margin-left: 0;
}

.footer-middle {
    padding: 60px 0 0;
}

.footer-block .title {
    margin: 0 0 12px;
    border: none;
    padding: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.footer-block ul {
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 40px;
}

.footer-block li {
    padding: 6px 0;
}

.footer-block li a {
    color: #555;
}

.footer-block li i.icon-location {
    width: 12px;
    height: 17px;
    background: url(../img/sprite.png) no-repeat -86px 0;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 2px;
}

.footer-block li i.icon-msg {
    width: 16px;
    height: 17px;
    background: url(../img/sprite.png) no-repeat -100px 0;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}

.footer-block li i.icon-phone {
    width: 13px;
    height: 16px;
    background: url(../img/sprite.png) no-repeat -118px 0;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px;
    margin-right: 2px;
}

.footer-lower {
    border-top: 1px solid #e9e9e9;
    padding: 30px 0;
}

.payment-mothod-wrap {
    float: right;
}

.payment-mothod-wrap .lable {
    text-align: right;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 4px;
}

.payment-mothod {
    width: 271px;
    height: 32px;
    float: left;
    background: url('../img/payment-Method.png') no-repeat;
}

.credit-note {
    float: left;
    margin-top: 20px;
}

.main-menu-wrap {
    position: relative;
}

.main-menu {
    position: absolute;
    right: 0;
    top: 34px;
    background: #fff;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .3);
    opacity: 0;
    visibility: hidden;
    transition: .4s all ease;
    z-index: 10;
}

.open > .main-menu {
    visibility: visible;
    opacity: 1;
}

.main-menu > li > a {
    padding: 10px 15px;
    display: block;
    color: #555;
    text-decoration: none !important;
    border-top: 1px solid #eee;
}

.main-menu > li > a:hover {
    background: #fbfbfb;
    color: #2bb2e9;
}

.responsive-nav-wrapper-parent {
    display: none;
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: .4s all ease;
}

.overlay.visible {
    opacity: 1;
    visibility: visible;
}

.mobile-header-menu {
    display: none;
}

.lang-dropdown {
    position: relative;
    float: right;
}

.lang-dropdown ul {
    position: relative;
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: #fff;
    border: 1px solid #d9d9d9;
    width: 100px;
}

.lang-dropdown:hover ul {
    display: block;
}

.lang-dropdown ul li {
    display: block;
    float: left;
    width: 100%;
}

.lang-dropdown:hover a {
    color: #2bb2e9;
}

.lang-dropdown ul li:hover {
    background: #fbfbfb;
}

.lang-dropdown ul li:first-child {
    border-bottom: 1px solid #ececec;
}

.lang-dropdown ul li a img {
    position: relative;
    top: -1px;
}

.lang-dropdown > a {
    display: block;
    color: #444;
    text-decoration: none;
    border: 1px solid #d9d9d9;
    padding: 3px 10px;
    margin-top: 3px;
    background: #fff;
}

.lang-dropdown > a img {
    position: relative;
    top: -1px;
    margin-left: 4px;
}

.recharge-block {
    border: 1px solid #d3d3d3;
    background: #fff;
    padding: 22px 20px 30px;
}

.recharge-block h3 {
    margin: 0;
    display: block;
    padding: 0;
    font-size: 15px;
    font-weight: 600;
    color: #22b8eb;
}

.radio {
    margin-top: 18px;
    padding-bottom: 42px;
}

.radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 22px;
    margin-left: 20px;
    transition: .2s all ease;
}

.radio input[type=radio] {
    display: none;
}

.radio label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background: #fff;
    border: 2px solid #555;
    border-radius: 50%;
    transition: .2s all ease;
}

.radio input[type=radio]:checked + label {
    color: #22b8eb;
}

.radio input[type=radio]:checked + label:before {
    border-color: #22b8eb;
    background: #22b8eb;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
    -webkit-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 1);
}

.form-group {
    margin-bottom: 21px;
}

.form-group label {
    display: block;
    margin: 0;
    margin-bottom: 5px;
    font-weight: 400;
}

.form-group .form-control {
    display: block;
    width: 100%;
    padding: 8px 15px;
    line-height: 20px;
    color: #747474;
    border: 1px solid #e0e0e0;
    outline: none !important;
}

.input-grp {
    position: relative;
}

.browse-plan {
    position: absolute;
    left: 15px;
    top: 11px;
    font-size: 11px;
    color: #22b8eb;
    text-decoration: none !important;
    transition: .3s all ease;
}

.browse-plan:hover {
    color: rgb(20, 54, 114);
}

.btn {
    background: #22b8eb;
    color: #fff;
    width: 100%;
    display: block;
    font-size: 14px;
    font-weight: 600;
    border: none;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
}

.btn:hover {
    background: #1fabda;
}

.padding-top-4 {
    padding-top: 4px;
}

.offer-list-blk {
    border: 1px solid #d3d3d3;
    background: #fff;
}

.gutter24 {
    margin: 0 -12px;
}

.gutter24 > div {
    padding: 0 12px;
}

.gutter24 > .col-md-4 {
    width: 38%;
}

.gutter24 > .col-md-8 {
    width: 62%;
}

.topbar {
    background: #fafafa;
    border-bottom: 1px solid #d4d3d3;
    padding: 12px 20px;
    -webkit-box-shadow: 0 2px 0 0 #f6f6f6, inset 0 -1px 0 0 #ffffff;
    box-shadow: 0 2px 0 0 #f6f6f6, inset 0 -1px 0 0 #ffffff;
}

.topbar > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.topbar > ul > li {
    display: inline-block;
    font-size: 13px;
    margin-left: 25px;
}

.topbar > ul > li > a {
    display: block;
    line-height: 25px;
    color: #555;
    text-decoration: none !important;
}

.topbar > ul > li > a:hover {
    color: #22b8eb;
}

.topbar > ul > li.active > a {
    color: #22b8eb;
    -webkit-box-shadow: inset 0 -2px 0 0 #22b8eb;
    box-shadow: inset 0 -2px 0 0 #22b8eb;
}

.table {
    width: 100%;
}

.table th {
    text-align: right;
    padding: 20px;
    border-bottom: 1px solid #d4d3d3;
    vertical-align: top;
}

.table td {
    padding: 25px 20px;
    vertical-align: top;
}

.price-btn {
    background: #fff;
    border: 2px solid #1faad9;
    display: block;
    width: 70px;
    text-align: center;
    line-height: 25px;
    font-weight: 600;
    border-radius: 4px;
}

.price-btn:hover {
    background: #1faad9;
    color: #fff;
    text-decoration: none;
}

.nicescroll-rails {
    margin-left: 3px;
}

.margin-top20 {
    margin-top: 20px;
}

.default-offer-banner {
    position: absolute;
    left: 12px;
    right: 12px;
    top: 0;
    bottom: 0;
    background: url(../img/offer-wallet.jpg);
    border: 1px solid #d4d3d3;
    background-position: 0 0;
}

.topbar .caption {
    font-size: 14px;
    font-weight: 600;
    color: #2150a5;
}

.oprator-logo {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    top: -6px;
}

.intl-tel-input {
    width: 100%;
}

.intl-tel-input input {
    display: block;
    width: 100%;
    padding: 8px 75px 8px 15px !important;
    line-height: 20px;
    color: #747474;
    border: 1px solid #e0e0e0;
    outline: none !important;
}

.selected-flag {
    display: block;
    position: absolute !important;
    padding: 11px 14px !important;
    width: auto !important;
    border-left: 1px solid #e0e0e0;
    outline: none !important;
    cursor: pointer;
}

.intl-tel-input .selected-flag .iti-flag {
    margin: 0 !important;
    position: relative !important;
    box-shadow: none !important;
    display: inline-block;
}

.intl-tel-input .iti-arrow {
    position: relative;
    display: inline-block;
    border-top: 4px solid #9e9e9e;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    vertical-align: middle;
    top: -3px;
    margin-right: 6px;
}

.intl-tel-input .country-list {
    top: 39px !important;
    width: 99.75% !important;
    left: 1px !important;
}

.intl-tel-input .country-list .flag-box {
    display: inline-block;
    vertical-align: middle;
    margin-left: 9px;
}

#error-msg {
    display: block;
    color: #f00;
    font-size: 12px;
    margin-top: 3px;
}

#valid-msg {
    display: block;
    color: #1dce0a;
    font-size: 12px;
    margin-top: 3px;
}

.sub-note {
    color: #aaa;
    font-weight: 600;
    font-size: 11px;
    margin-bottom: 15px;
    line-height: 17px;
}

.payment-blk {
    background: #fff;
    border: 1px solid #d3d3d3;
    border-width: 0 1px 1px;
}

.payment-blk .title {
    background: #22b8eb;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    line-height: 41px;
    padding: 0 15px;
}

.payment-tab {
    background: #fbfbfb;
}

.payment-tab > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    width: 200px;
    background: #fbfbfb;
    border-left: 1px solid #d3d3d3;
}

.payment-tab > ul li {
    display: block;
}

.payment-tab > ul li a {
    display: block;
    text-decoration: none;
    padding: 12px 15px;
    font-weight: 600;
    color: rgba(0, 0, 0, .6);
    border-bottom: 1px solid #d3d3d3;
}

.payment-tab > ul li.active a {
    background: #fff;
    color: #22b8eb;
    margin-left: -1px;
}

.payment-tab .tab-content {
    background: #fff;
    min-height: 300px;
    margin-right: 199px;
    border-right: 1px solid #d9d9d9;
    padding: 20px;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.payment-tab .tab-content h3 {
    margin: 0;
    font-weight: 700;
    font-style: italic;
    font-size: 15px;
}

.knet-blk {
    margin-top: 20px;
}

.knet-offer {
    margin-right: 80px;
    font-weight: 600;
    margin-top: 4px;
    opacity: .6;
}

.some-note {
    background: url(../img/alert-icon.jpg) no-repeat #f8f8f8;
    background-position: right 24px top 23px;
    border: 1px solid #dfe3e7;
    padding: 20px 80px 20px 20px;
    color: rgba(0, 0, 0, .6);
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.make-payment {
    text-transform: uppercase;
    background: #22b8eb;
    color: #fff;
    display: inline-block;
    line-height: 21px;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 3px;
}

.make-payment:hover {
    color: #fff;
    background: #1ea8d7;
    text-decoration: none;
}

.payment-selection {
    border: 1px solid #d3d3d3;
    background: #fff;
}

.order-summery {
    padding: 20px;
}

.order-summery h3 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-style: italic;
    font-size: 15px;
    color: #22b8eb;
}

.offerSelctionDetails {
    margin: 0;
}

.offerSelctionDetails h4 {
    font-size: 13px;
    font-weight: 600;
    margin: 10px 0 0;
    padding: 0;
}

.offerSelctionDetails > span {
    font-size: 12px;
    line-height: 20px;
}

.devider {
    display: block;
    border-top: 1px dashed #d9d9d9;
    margin: 0 0 20px;
    position: relative;
}

.devider:before,
.devider:after {
    position: absolute;
    width: 26px;
    height: 26px;
    left: 0;
    top: 0;
    content: '';
    margin-top: -13px;
    margin-left: -13px;
    background: #f6f6f6;
    border: 1px solid #d3d3d3;
    border-radius: 50%;
}

.devider:after {
    left: auto;
    right: 0;
    margin-left: inherit;
    margin-right: -13px;
}

.transition-id {
    padding: 0 20px 20px;
}

.transition-id > span {
    font-weight: 700;
}

.amount-pay {
    background: #fffcdc;
    padding: 14px 20px;
}

.hidden {
    overflow: hidden;
}

.amount-pay > span {
    line-height: 24px;
    color: #666;
}

.login-dialog {
    width: 340px;
}

.login-popUp {
    border-radius: 0 !important;
}

.login-popUp .modal-body {
    padding: 0;
}

.login-inside-header {
    background: #22b8eb;
    padding: 20px;
}

.login-popUp .close {
    background: url(../img/cancel.png) no-repeat 0 0;
    margin: 0;
    width: 16px;
    height: 16px;
    right: 20px;
    top: 31px;
    position: absolute;
    cursor: pointer;
}

.login-inside-header ul,
.login-inside-header ul li {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.login-inside-header ul li {
    margin-left: 20px;
}

.login-inside-header ul li.active a {
    border-bottom: 4px solid #ffe033;
    opacity: 1;
}

.login-inside-header ul a {
    display: block;
    line-height: 36px;
    border-bottom: 4px solid #22b8eb;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    opacity: .5;
    text-decoration: none !important;
}

.tab-pan {
    display: none;
}

.tab-pan.active {
    display: block;
}

.login-inside-form {
    padding: 20px;
}

.login-inside-form .form-grp {
    margin-bottom: 20px;
    position: relative;
}

.login-inside-form .form-grp label {
    display: block;
    font-size: 13px;
    color: #6c6c6c;
    margin-bottom: 6px;
    font-weight: 600;
}

.login-inside-form .form-grp .form-control {
    border: 1px solid #dbdbdb;
    line-height: 20px;
    padding: 10px 15px;
    font-size: 13px;
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 0;
    outline: none;
}

.check-wrap .checkbox {
    display: inline-block;
}

.check-wrap label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-left: 15px;
    font-size: 13px;
}

.check-wrap input[type=checkbox] {
    display: none;
}

.check-wrap label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.check-wrap .checkbox label {
    margin-bottom: 10px;
}

.check-wrap .checkbox label:before {
    border-radius: 3px;
}

.check-wrap input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}

.check-wrap .forgot-password {
    float: left;
    font-size: 13px;
    color: #22B8EB;
}

.login-inside-form .btn:hover {
    background: #079ACC;
}

.login-inside-form .btn {
    height: 46px;
    line-height: 26px;
    padding: 10px 0;
    background: #22b8eb;
    color: #fff;
    text-align: center;
    display: block;
    font-size: 14px;
    margin: 15px 0 0;
    width: 100%;
    border: none;
    outline: inherit;
}

.login-inside-form .btn:before {
    position: relative;
    width: 15px;
    height: 16px;
    background: url(../img/open-lock2.png) no-repeat 0 0;
    content: '';
    display: inline-block;
    vertical-align: middle;
    top: -2px;
    margin-right: 5px;
}

.termscaptions {
    color: #999;
    font-size: 11px;
    line-height: 16px;
    display: block;
    margin-top: 5px;
}

.forgot-pass-caption {
    font-size: 13px;
    color: #bbb;
    margin-bottom: 15px;
    display: block;
    margin-top: 6px;
}

.login-inside-form h3 {
    margin: 0;
}

.login-inside-form .btn.forgot-btn {
    display: inline-block;
    width: inherit;
    padding: 0 12px;
    margin: 0;
    line-height: 46px;
    text-decoration: none !important;
}

.forgot-btn.cancel-forgot-btn {
    vertical-align: top;
    line-height: 46px;
    background: #fff;
    color: #444;
}

.forgot-btn:before {
    display: none !important;
}

.text-right {
    text-align: right;
}

.login-inside-form .btn.cancel-forgot-btn:hover {
    background: #fff;
    color: #22b8eb;
}

.amount-pay .amt {
    font-size: 18px;
    font-weight: 700;
    color: #222;
}

.ngdialog.ngdialog-theme-default.login-popup {
    padding-top: 50px;
    padding-bottom: 0;
}

.ngdialog.ngdialog-theme-default.login-popup .ngdialog-content {
    padding: 0;
    max-width: 340px;
    border-radius: 0;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    font-family: 'Open Sans';
}

.ngdialog.ngdialog-theme-default.login-popup .login-inside-form {
    background: #fff;
}

.ngdialog.ngdialog-theme-default.login-popup .ngdialog-close:before {
    color: #fff;
    right: 10px;
    top: 26px;
}


/*payment-success strat*/

.line {
    height: 1px;
    display: block;
    background: #d9d9d9;
    margin: 10px 0px 15px;
}

.pay-summery-list {
    display: block;
    margin-top: 10px;
}

.pay-summery-list > span {
    font-weight: 700;
}

.status {
    background: #ddd;
    display: inline-block;
    margin-top: 12px;
    padding: 3px 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
}

.status.success {
    background: #0bb297;
}

.status.pending {
    background: #f5cf0a;
}

.status.failed {
    background: #ff5757;
}

.pay-details {
    border: 1px solid #d3d3d3;
    background: #fff;
}

.pay-details .headr {
    background: #fafafa;
    border-bottom: #d6d6d6 1px solid;
    padding: 12px 20px;
    -webkit-box-shadow: 0 2px 0 0 #f6f6f6, inset 0 -1px 0 0 #ffffff;
    box-shadow: 0 2px 0 0 #f6f6f6, inset 0 -1px 0 0 #ffffff;
    position: relative;
}

.img-notify {
    width: 41px;
    height: 41px;
    position: relative;
    display: inline-block;
    background: url(../img/sprite.png) no-repeat 0 -35px;
}

.pay-details .headr-content {
    margin-right: 55px;
    font-size: 12px;
    margin-top: 4px;
    font-weight: 600;
}

.payContent {
    background: #fff;
    padding: 25px 20px;
}

.payContent .title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-style: italic;
    font-size: 15px;
    color: #22b8eb;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 7px;
}

.operator-img {
    padding: 5px 10px;
    border: 1px solid #d9d9d9;
    display: inline-block;
}

.payTable td:first-child {
    padding-left: 0;
    padding-right: 0;
}

.pay-describe {
    font-size: 11px;
}


/*payment-success end*/

@media (max-width: 767px) {
    .mobile-header-menu {
        display: block;
    }
    .footer-middle {
        padding: 0;
    }
    .footer-block .title {
        margin: 0 -15px;
        padding: 25px 15px;
        border-bottom: 1px solid #e9e9e9;
        text-align: center;
    }
    .footer-block ul {
        margin: 0;
        display: none;
    }
    .newsletter {
        text-align: center;
        width: 100%;
    }
    .newsletter-email .newsletter-subscribe-text {
        width: 220px;
        margin: 0;
    }
    .top-foot {
        padding: 15px 0;
    }
    .newsletter .title {
        margin: 0 0 6px;
        width: 100%;
    }
    .social-sharing {
        padding: 10px 0 0;
        width: 100%;
        text-align: center;
    }
    .social-sharing li {
        margin: 0;
    }
    .social-sharing .rss a {
        background-position: -190px 0;
        width: 32px;
    }
    .footer-lower {
        border: none;
        margin: 0 -15px;
        background: #eee;
    }
    .payment-mothod-wrap {
        float: left;
        width: 100%;
        text-align: center;
    }
    .payment-mothod-wrap .lable {
        text-align: center;
        font-weight: 700;
    }
    .payment-mothod {
        float: none;
        display: inline-block;
    }
    .credit-note {
        margin-top: 15px;
        width: 100%;
        text-align: center;
    }
    .footer-block ul {
        margin: 0 -15px;
        padding: 15px 0;
        background: #fff;
        text-align: center;
        border-bottom: 1px solid #e9e9e9;
    }
    .footer-block .title:after {
        position: absolute;
        content: '';
        right: 15px;
        top: 30px;
        width: 10px;
        height: 10px;
        background: url(../img/sprite.png) no-repeat -156px 0;
    }
    .top-menu {
        display: none;
    }
    .mobile-hide {
        display: none;
    }
    .logo {
        float: none !important;
        display: inline-block;
    }
    header > .middle-blk {
        text-align: center;
        border-bottom: 3px solid #25459a;
        padding: 20px 0;
    }
    .responsive-nav-wrapper-parent {
        display: block;
    }
    .responsive-nav-wrapper {
        position: relative;
        text-align: center;
        font-size: 0;
        background: #fff;
        border-bottom: 1px solid #eee;
    }
    .menu-title,
    .user-icon,
    .search-icon {
        position: relative;
        display: inline-block;
        padding: 17px;
        border: 1px solid #eee;
        border-width: 0 1px;
    }
    .menu-title:before,
    .user-icon:before,
    .search-icon:before {
        width: 17px;
        height: 15px;
        content: '';
        background: url(../img/sprite.png) no-repeat -168px 0;
        display: block;
    }
    .mobile-user-wrap {
        display: inline-block;
        position: static;
    }
    .user-icon {
        border: 1px solid #eee;
        border-width: 0 0 0 1px;
    }
    .user-icon:before {
        background: url(../img/sprite.png) no-repeat 1px -18px;
    }
    .mobile-search-wrap {
        display: inline-block;
        position: static;
    }
    .search-icon {
        border: 1px solid #eee;
        border-width: 0 0 0 1px;
        padding: 15px 17px 16px;
    }
    .search-icon:before {
        background: url(../img/sprite.png) no-repeat -18px -17px;
        height: 18px;
    }
    .user-account-dropdown {
        display: none;
        font-size: 13px;
        position: absolute;
        left: 0;
        right: 0;
        top: 49px;
        background: #f9f9f9;
        list-style: none;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #ececec;
        z-index: 100;
    }
    .user-account-dropdown a {
        display: block;
        padding: 15px 0px;
        color: #555;
        border-top: 1px solid #ececec;
    }
    .search-form-wrap {
        display: none;
    }
    .search-form-wrap {
        position: absolute;
        left: 0;
        right: 0;
        top: 49px;
        padding: 15px;
        background-color: #19438e;
        z-index: 100;
    }
    .search-form {
        width: 100%;
        height: 32px;
    }
    .search-form-wrap:after {
        left: 30px;
    }
    .mobile-header-menu {
        position: fixed;
        right: -320px;
        top: 0;
        height: 100%;
        background: #fff;
        width: 320px;
        transition: .4s all ease;
        z-index: 100;
        overflow: auto;
    }
    .mobile-header-menu.open {
        right: 0;
    }
    .close-menu,
    .close-menu-inner {
        background-color: #f6f6f6;
        position: absolute;
        right: 0;
        top: 0;
        width: 320px;
        cursor: pointer;
    }
    .close-menu:before,
    .close-menu-inner:before {
        width: 51px;
        height: 51px;
        float: left;
        background: url(../img/close.png) no-repeat 0 0;
        content: '';
    }
    .close-menu-inner {
        width: 310px;
    }
    .side-menu {
        margin: 51px 0 0;
        padding: 0;
        position: relative;
        list-style: none;
    }
    .side-menu > li > a {
        padding: 14px 12px;
        font-size: 14px;
        font-weight: 600;
        display: block;
        border-bottom: 1px solid #ececec;
        color: #444;
        text-decoration: none;
    }
    .sub-menu {
        position: relative;
    }
    .sub-menu:after {
        content: '';
        position: absolute;
        left: 22px;
        top: 19px;
        width: 7px;
        height: 10px;
        background: url(../img/sprite.png) no-repeat -37px -17px;
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .sub-menu-ul {
        position: fixed;
        right: -330px;
        top: 0;
        bottom: 0;
        z-index: 80;
        background: #fff;
        width: 310px;
        box-shadow: 1px 0 5px rgba(0, 0, 0, 0.5);
        transition: .4s all ease;
    }
    .sub-menu-ul > ul {
        margin: 51px 0 0;
        padding: 0;
        list-style: none;
        display: block;
    }
    .sub-menu-ul.open {
        right: 0;
    }
    .sub-menu-ul > ul > li {
        display: block;
    }
    .sub-menu-ul > ul > li > a {
        padding: 14px 12px;
        font-size: 14px;
        font-weight: 600;
        display: block;
        border-bottom: 1px solid #ececec;
        color: #444;
        text-decoration: none;
    }
    .gutter24 > .col-md-4 {
        width: 100%;
    }
    .gutter24 > .col-md-8 {
        width: 100%;
    }
    .mobile-block {
        display: none;
    }
    .mobile-block.visible {
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #fff;
        z-index: 1000;
        overflow: scroll;
    }
    .mobile-block.visible .offer-list-blk {
        margin: 0 -15px;
    }
    .table-head thead {
        display: none;
    }
    .payment-selection {
        margin-top: 15px;
    }
}