
    <div class="row gutter24">

        <div class="col-md-4">
                <div class="recharge-block-wrap">
                    
                    <form name="rechargeForm" id="rechargeForm" novalidate ng-submit="redirect()">
                        <div class="recharge-block">
                            <span class="error" ng-model="error"></span>
                            
                            <div class="form-group margin-top20">
                                <label translate="MobileNumber"></label>
                                <input id="MobileNumber" name="MobileNumber" type="tel" international-phone-number only-countries="in,pk,eg,lk,ph" preferred-countries="in"
                                       ng-model="mobileNumber" required>
                                <p ng-show="rechargeForm.MobileNumber.$invalid && !rechargeForm.MobileNumber.$pristine" class="valid-message">Please enter valid Mobile Number.</p>
                                <!--ng-keydown="setOperater();"-->
                            </div>

                            <div class="form-group">
                                <label translate="Operator"></label>
                                <select class="form-control" id="operatorCode" name="Operator" ng-model="operatorCode" ng-options="s.Code as s.Name for s in InternationalServiceProviders"
                                        ng-change="ClearAmount();" required></select>
                                <p ng-show="rechargeForm.Operator.$invalid && !rechargeForm.Operator.$pristine" class="valid-message">Your Operator is required.</p>
                               
                            </div>
                                    <div class="form-group">
                                        <label for="#" translate="RechargeAmount"></label><div class="input-grp">
                                            <input type="text" class="form-control" ng-model="amount" name="amount" placeholder="Enter Amount" required>
                                            <!--<a href="#" class="browse-plan">Browse Plan</a>-->
                                            <p ng-show="rechargeForm.amount.$invalid && !rechargeForm.amount.$pristine" class="help-block">Amount is required.</p>

                                        </div>
                                    </div>
                                    <div class="padding-top-4">
                                        <input type="submit" class="btn" value="{{ 'ProceedToRechargeButton' | translate }}">
                                    </div>
                        </div>
                    </form>
               </div>

        </div>
        <div class="col-md-8">
            <div class="offer-list-blk">
                <div class="bigContaner-plans">
                  
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="offer-list-blk">
                <div class="slider" ng-init="sliderAuto()" ng-controller="sliderCtrl">
                    <img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage"
                         ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
                         ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
                    <a class="arrow prev" href="javascript:void(0)" ng-click="nextSlide()"></a>
                    <a class="arrow next" href="javascript:void(0)" ng-click="prevSlide()"></a>
                </div>
            </div>
        </div>
    </div>

<script>


    $(document).ready(function(){
    
        
    });

    
</script>

