
<div class="row gutter24">
    <div class="col-md-4">
        <div class="recharge-block-wrap">
            <form name="rechargeForm" novalidate ng-submit="redirect()">
                <div class="recharge-block">
                    <h3 translate="RechargeCaption"> </h3>
                    <div class="radio" ng-init="rechargeType='Prepaid'">
                        <input id="Prepaid" type="radio" name="gender" value="Prepaid" ng-model="rechargeType" ng-change="refreshRechargeType()">
                        <label for="Prepaid" translate="Prepaid"></label>
                        <input id="Postpaid" type="radio" name="gender" value="Postpaid" ng-model="rechargeType" ng-change="refreshRechargeType()">
                        <label for="Postpaid" translate="Postpaid"></label>
                        <input id="Vouchers" type="radio" name="gender" value="Vouchers" ng-model="rechargeType" ng-change="refreshRechargeType()">
                        <label for="Vouchers" translate="Vochers"></label>
                    </div>

                    <div class="form-group">
                        <label translate="MobileNumber"></label>
                        <input id="MobileNumber" name="MobileNumber" type="text" international-phone-number only-countries="kw" default-country="kw" ng-model="mobileNumber" required numbers-only maxlength="8">
                        <p ng-show="TopupValidation.Response=='F'" class="valid-message" >{{TopupValidation.ResponseDescription}}</p>
                        <p ng-model="validationRef" ng-show="CheckValidationForMobileNumer()" class="valid-message" >{{ validationRef | translate }}</p>
                    </div>
                    <div class="form-group">
                        <label translate="Operator"></label>
                        <select selectpicker="" class="select-dropdown" ng-model="operatorCode" ng-change="refershAmount()" toggle-dropdown>
                            <!--ng-options="s.Code as s.Name for s in serviceProviders"data-content="{{item.ImageURL}}"--> 
                                
                        <option ng-repeat="item in serviceProviders"  ng-bind-html="PopulateSpan(item)" value="{{item.Code}}"></option>
                                
                        </select>
                        <p ng-show="CheckValidationForOperator()" class="valid-message" translate="Validation_NationalRecharge_Operator_Required"></p>
                    </div>
                    <div class="form-group">
                        <label for="#" translate="RechargeAmount"></label>
                        <div class="input-grp">
                            <input name="Amount" type="text" ng-disabled="rechargeType == 'Vouchers'" ng-model="amount" class="form-control" placeholder="{{ 'AmountPlaceHolder' | translate }}" required ng-change="CheckValidationForAmount()" numbers-only> 
                            <!--<a href="#" class="browse-plan" translate="BrowsePlan"></a>-->
                        </div>
                        <p ng-show="CheckValidationForAmount()" class="valid-message" translate="Validation_NationalRecharge_Amount_Required"></p>
                    
                    </div>
                    <div class="padding-top-4">
                        <input type="submit" class="btn" value="{{ 'ProceedToRechargeButton' | translate }}"  >
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-8" ng-show="rechargeType == 'Vouchers'">
        <div class="offer-list-blk">
            <div class="bigContaner-plans">
                <div class="offeres-table">
                    <table class="table table-head">
                        <thead>
                        <th width="140" translate="VoucherDetails_TableHeading_Operator"></th>
                         <th translate="VoucherDetails_TableHeading_ServiceType">
                         </th>
                        <th translate="VoucherDetails_TableHeading_Offer"></th>
                        <th width="120" translate="VoucherDetails_TableHeading_Amount"></th>
                        </thead>
                    </table>
                    <div class="scroll-table">
                        <table class="table">
                            <tbody>
                                <tr ng-repeat="voucher in AllVouchers| filter: operatorCode">
                                    <td width="140">
                                        <img ng-src="/Content/img/Operators/{{voucher.OperatorCode}}-small.png" class="oprator-logo" /></td>
                                   <td translate="VoucherDetails_TableStaticContent_ServiceType"></td>
                                    <td translate="VoucherDetails_TableStaticContent_Offer"></td>
                                    <td width="120">
                                        <a ng-click="loadAmount(voucher);" class="price-btn">{{voucher.Amount}} KD</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8" ng-show="rechargeType == 'Prepaid' || rechargeType == 'Postpaid'">
        <div class="offer-list-blk">
            <div class="slider" ng-init="sliderAuto()" ng-controller="sliderCtrl">
                <img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage"
                     ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
                     ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
                <a class="arrow prev" href="javascript:void(0)" ng-click="nextSlide()"></a>
                <a class="arrow next" href="javascript:void(0)" ng-click="prevSlide()"></a>
            </div>
        </div>
    </div>
</div>
