<div class="payment-wrap">
    <div class="row"> 
        <div class="col-md-8">
            <div class="payment-blk">
                <div class="title" translate="PaymentOptionsHeading"></div>
                <div class="payment-tab clearfix">
                    <ul>
                        <li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}"><a ng-click="onClickTab(tab)" translate="{{tab.title}}"></a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="mainView">
                            <div ng-include="currentTab"></div>
                        </div>
                        <script type="text/ng-template" id="knet.html">
                            <h3 translate="KNetPaymentHeading"></h3>
                            <div class="knet-blk clearfix">
                                <div class="pull-left">
                                    <img ng-src="{{getPaymentImages(1)}}" />
                                </div>
                                <div class="knet-offer">
                                </div>
                            </div>
                            <div class="some-note" translate="KNetPaymentCaption">

                            </div>
                            <a class="make-payment" ng-click="ProcessKnetPayment()" translate="MakePaymentButton"></a>
                            <div auto-submit-form="" event="gateway.redirect" form-data="formData">
                            </div>
                        </script>
                        <script type="text/ng-template" id="visamaster.html">
                            <h3>Pay Using Visa/Master Card</h3>
                            <div class="knet-blk clearfix">
                                <div class="pull-left">
                                    <img ng-src="{{getPaymentImages(2)}}" />
                                </div>
                                <div class="knet-offer">
                                   
                                </div>
                            </div>
                            <div class="some-note" translate="VisaMasterPaymentCaption">
                              
                            </div>
                            <!--<a class="make-payment" href="#">Make Payment</a>-->
                        </script>
                        <script type="text/ng-template" id="wallet.html">
                            <!--Demo 3-->
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hidden">
                <div class="payment-selection">
                    <div class="order-summery">
                        <h3 translate="OrderSummary"></h3>
                        <div class="offerSelctionDetails">
                            <h4>
                                <img ng-src="/Content/img/Operators/{{RechargeParameter.OperatorCode}}.png" /> 
                            </h4>
                            <h4>Mobile Number : <span>{{RechargeParameter.MobileNumber}}</span></h4>
                            <h4>Service Type : <span>{{RechargeParameter.ServiceType}}</span></h4>
                        </div>
                    </div>
                    <div class="devider"></div>
                        <div class="transition-id">
                            <span>offer :</span> N/A
                        </div>
                        <div class="amount-pay clearfix">
                        <span class="pull-left" translate="AmountPayable"></span>
                        <span class="amt pull-right">{{RechargeParameter.Amount}} KD</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>