@{
    ViewBag.Title = "Angular with ASP.NET MVC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-view></div>

<div class="row gutter24">
    <div class="col-md-4">
        <div class="recharge-block-wrap">
            <div class="recharge-block">
                <h3>Recharge Or Pay Bill</h3>
                <div class="radio">
                    <input id="Prepaid" type="radio" name="gender" value="Prepaid" checked>
                    <label for="Prepaid">Prepaid</label>
                    <input id="Postpaid" type="radio" name="gender" value="Postpaid">
                    <label for="Postpaid">Postpaid</label>
                    <input id="Vochers" type="radio" name="gender" value="Vochers">
                    <label for="Vochers">Vochers</label>
                </div>
                <div class="form-group">
                    <label for="#">Mobile Number</label>
                    <input type="text" class="form-control" placeholder="+965">
                </div>
                <div class="form-group">
                    <label for="#">Operator</label>
                    <select name="" class="form-control">
                        <option value="#">Oreedo</option>
                        <option value="#">Viva</option>
                        <option value="#">Airtel</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="#">Recharge Amount</label>
                    <div class="input-grp">
                        <input type="text" class="form-control" placeholder="Enter Amount">
                        <a href="#" class="browse-plan">Browse Plan</a>
                    </div>
                </div>
                <div class="padding-top-4">
                    <input type="submit" class="btn" value="Proceed to Recharge">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="offer-list-blk">
            <div class="bigContaner-plans">
                <div class="topbar">
                    <ul>
                        <li class="active"><a href="#">Offers</a></li>
                        <li><a href="#">Top Up</a></li>
                        <li><a href="#">Data Card</a></li>
                    </ul>
                </div>
                <div class="offeres-table">
                    <table class="table">
                        <thead>
                        <th width="150">TalkTime</th>
                        <th width="120">Validity</th>
                        <th>Description</th>
                        <th width="120">Price</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>15-TT + 450 MB 3G/4G Data</td>
                                <td>14 Days</td>
                                <td>U Medium : 300 MB Data + 150 MB Night Data ( 12 am to 6 am) ; Call 3 local Vodafone buddies 20p/min; Talktime Rs.15; Unlimited music downloads for 60 days Option of 60MB data loan. T&C Apply</td>
                                <td>
                                    <a class="price-btn" href="#">2 kd</a>
                                </td>
                            </tr>
                            <tr>
                                <td>15-TT + 450 MB 3G/4G Data</td>
                                <td>28 Days</td>
                                <td>U Medium : 300 MB Data + 150 MB Night Data ( 12 am to 6 am) ; Call 3 local Vodafone buddies 20p/min; Talktime Rs.15; Unlimited music downloads for 60 days Option of 60MB data loan. T&C Apply</td>
                                <td>
                                    <a class="price-btn" href="#">5 kd</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

